body {
	font-family: Bahnschrift Light Condensed;
	font-style: italic;
	background-color: lightcyan;
}
h1 {
	font-family: Bahnschrift Light Condensed;
	font-style: italic;
	width: 900px;
}
table, th, td {
	border-style: solid;
}
div.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 450px;
}

div.gallery:hover {
	border: 1px solid;
}

div.gallery img {
	width: 100%;
	height: auto;
}

.dropbtn {
	background-color: #b200ff;
	color: white;
	font-size: 20px;
	padding: 30px;
	width: 450px;
	border: none;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	width: 418px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #0094ff;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #ff00dc;
}